.container{
    /* position: relative;
    width:100%;
    max-height: 100vh;
    background-color: #fff; */
    height: 100%;
    width:100%;
    background-color: turquoise;
    /* background: linear-gradient(rgba(0 0 0 0.4),rgba(0 0 0 0.4)); */
    background-position: center;
    background-size: cover;
    position: absolute;
}


.form-container{
    position: relative;
    width: 380px;
    height: 400px;
    left: 0;
    text-align: center;
    top: 55px;
    background: linear-gradient(to right, #DC2424,#4A569D);

    margin: auto;
    overflow: hidden;

    /* width:380px;
    height:480px;
    position :relative;
    margin: 6% auto;
    background: #fff;
    padding: 5px;
    overflow: hidden;
    border-radius: 30px; */


}



.button-box{
    width:220px;
   display: flex;
   justify-content: space-between;
    border-radius: 10px;
    position: relative;
    margin: 35px auto;
}
.toggle-btn{
    position: relative;
    padding: 10px 30px;
    background:#ffad06 ;
    background-color: #5995fd;
    box-shadow: 0 0 11px -2px #182438;

margin: 0 0 0 2px;
border-radius: 30px;
transition: .5s;
   
    border: 0;
    outline: none;
}
.signin{
    position: absolute;
   
    width:100%;
    /* transform: translate(-75% ,0%); */
    display: grid;
    grid-template-columns: 1fr;
    margin: auto;
    background: transparent;
    transition: 0.5s;
}
#signin{
    top:120px;
    left:0px;
}
#signup{
    top:25%;
    left:104%;
}



form{
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    /* grid-column: 1/2;
    grid-row: 1/2; */

}

.input-field{
max-width: 380px;
height:40px;
/* margin: auto; */
margin: 10px 70px;
border-radius: 15px;
padding: 5px;
background: #f0f0f0;
display: grid;
grid-template-columns: 15% 85%;
}
.input-field i{
    text-align: center;
    line-height: 55px;
    color: #acacac;
    font-size: 1.1rem;
}
.input-field input{
    background: 0;
    border: none;
    line-height: 1;
    font-size: 1.1rem;
    font-weight: 600;
    color: #333;

}
.btn{
    height: 45px;
    width:150px;
    border-radius: 49px;
    background-color: #5995fd;
    color: #fff;
    margin: 10px 110px;
    font-weight: 600;
    text-transform: uppercase;
    transition: .5s;
}
.btn:hover{
    background-color: #4d84e2;
}
